/* Reset */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.page-content {
  flex: 1;
  width: 100%;
  overflow-x: auto;
}

.responsive-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 769px) {
  .responsive-layout {
    flex-direction: row;
  }

  .page-content {
    padding: 20px;
  }
}

:root {
  --primary: #1a3a7a;
  --primary-light: #dbeafe;

  --border-color: #e2e8f0;

  --bg-light: #f5f5f0;
  --bg-table: #f8fbff;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
}